<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - The Hopper: Edinburgh's premier arts venue</title>
</head>
<body>
    <header class="header_template">
        <h1>The Hopper: Edinburgh's premier arts venue</h1>
        <ul>
            <li>
                <a href="/all-events">All events</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
</header>
<hr>
{% block content %}

{% endblock %}

</body>
</html>